<div id="mainContentWrap" role="main" class="pageWrapper">
  <section class="product-details">
    <div class="container">
      <div class="row">
        <h2 class="page-title">Product details</h2>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">NOTICE_NO</th>
                <th scope="col">AGREEMENT_NO</th>
                <th scope="col">CUSTOMER</th>
                <th scope="col">ADDRESS</th>
                <th scope="col">MOBILE_NO</th>
                <th scope="col">BATCH_ID</th>
                <th scope="col">IS_SMS_SENT</th>
                <th scope="col">MESSAGE_ID</th>
                <th scope="col">LINK</th>
                <th scope="col">PSNO</th>
                <th scope="col">SMS_QUERY</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">2342</th>
                <th scope="row">564564</th>
                <th scope="row">Rupen</th>
                <th scope="row">batch upload</th>
                <th scope="row">30/06/2020</th>
                <th scope="row">Rupen</th>
                <th scope="row">-</th>
                <th scope="row">-</th>
                <th scope="row">-</th>
                <th scope="row">-</th>
                <th scope="row">-</th>
                <th scope="row">-</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>